@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full bg-slate-950 text-slate-50 antialiased;
}

body {
  font-feature-settings: "tnum" on, "lnum" on;
}

.nav-blur {
  backdrop-filter: blur(18px);
}

